.bookscreen {
  width: 100%;
  height: 100%;
  position: relative;

  &-logo {
    text-indent: 1rem;
    color: #00cec9;
    font-weight: bold;
    margin-right: 2rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    -webkit-app-region: drag;

    &-title {
      font-weight: normal;
      font-size: 1rem;
      text-indent: 1rem;
      user-select: none;
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    -webkit-app-region: no-drag;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 0 0.5rem;
    }
  }

  &-toc {
    -webkit-app-region: no-drag;
    background-color: #ecf0f1;
    position: absolute;
    top: 6rem;
    left: 0;
    height: calc(100% - 6rem);
    width: 12.5rem;
    overflow-y: scroll;
    overflow-x: hidden;

    & ul,
    & li {
      padding: 0;
      list-style: none;
    }

    & li {
      width: 11.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-active {
      color: #00cec9;
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-indent: 1rem;
      width: 12.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-item {
      // height: 2rem;
      line-height: 2rem;
      cursor: pointer;

      // &:hover {
      //   background-color: #dddddd;
      // }
    }
  }

  &-view {
    -webkit-app-region: no-drag;
    margin-left: 12.5rem;
    width: calc(100% - 12.5rem);
    height: calc(100% - 6rem);
    overflow-y: scroll;
    white-space: pre-line;
    transition: all 300ms;
    position: relative;
    // /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    // -ms-overflow-style: none;
    // /*火狐下隐藏滚动条*/
    // overflow: -moz-scrollbars-none;

    .bookScreen-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100px;

      & > span {
        font-size: 2rem;
        color: #837f7f88;
      }

      opacity: 0;

      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .bookScreen-arrow-left {
      left: 0;
      top: 0;
      z-index: 11;
    }
    .bookScreen-arrow-right {
      right: 0;
      top: 0;
      z-index: 11;
    }

    &-comic {
      display: flex;
      justify-content: center;
      align-items: center;

      canvas {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-tochidden {
      margin-left: 0;
      width: 100%;
      transition: all 300ms;
    }

    &-noscrollbar {
      overflow: hidden;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-progress {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #ecf0f1;

      .slider-component {
        max-width: 90%;
        min-width: 80;
      }

      .bookscreen-progress-current {
        input[type="text"] {
          text-align: center;
          width: 3rem;
          background-color: transparent;
          border: 1px solid gray;
        }
      }
    }
  }
}

#reader-area {
  height: 100%;
  pointer-events: none;
}

.txt-view {
  padding: 2rem 10rem;
  line-height: 1.5rem;
}

.comic-view {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.my-toc-enter {
  left: -100%;
}

.my-toc-enter-active {
  left: 0;
  transition: all 300ms;
}

.my-toc-exit {
  left: 0;
}

.my-toc-exit-active {
  left: -100%;
  transition: all 300ms;
}

.my-view-enter {
  margin-left: 0;
  width: 100%;
}

.my-view-enter-active {
  margin-left: 12.5rem;
  width: calc(100% - 12.5rem);
  transition: all 300ms;
}

.my-view-exit {
  margin-left: 12.5rem;
  width: calc(100% - 12.5rem);
}

.my-view-exit-active {
  margin-left: 0;
  width: 100%;
  transition: all 300ms;
}

.my-footer-enter {
  bottom: -3rem;
  opacity: 0;
}

.my-footer-enter-active {
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

.my-footer-exit {
  bottom: 0;
  opacity: 1;
}

.my-footer-exit-active {
  bottom: -3rem;
  opacity: 0;
  transition: all 0.3s ease;
}
